<form
  [formGroup]="backendForm"
  (ngSubmit)="onBackendFormSubmitted(backendForm)"
>
  <div>
    <mat-form-field appearance="fill"
      ><mat-label>Email</mat-label
      ><input
        matInput
        type="email"
        placeholder="Email"
        formControlName="email"
        required
      /><mat-error *ngIf="backendForm.get('email')!.invalid"
        >email is invalid</mat-error
      ></mat-form-field
    >
  </div>
  <div>
    <mat-form-field appearance="fill"
      ><mat-label>Password</mat-label
      ><input
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
        required
      /><mat-error *ngIf="backendForm.get('password')!.invalid"
        >password is invalid</mat-error
      ></mat-form-field
    >
  </div>
  <mat-error *ngIf="backendForm.hasError('beValidation')">{{backendForm.getError('beValidation')}}</mat-error>
  <div>
    <button type="submit" mat-raised-button color="primary">Login</button>
  </div>
</form>
